<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mission to Mars!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>

<div class="jumbotron text-center">
  <h1>Mission to Mars!</h1>
  <a href="/scrape">Update in Realtime</a>
</div>

    <div class="container">
		  <div class="row">
			  <div class="col-sm-4">
				  <h3 class="heading">NEWS</h3>
          <h3 class="heading">news_title</h3>
          <p>news_p</p>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <h3 class="heading">WEATHER</h3>
            <h3 class="heading">mars_weather</h3>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <h3 class="heading">GENERAL INFO</h3>
              <h3 class="heading">mars_facts</h3>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <h3 class="heading">IMAGE OF MARS</h3>
                <h3 class="heading">featured_image_url</h3>
            </div>

            </div>
            </div>
          </div>
        </div>

      </body>
      </html>