<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mission to Mars!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>

<div class="jumbotron text-center">
  <h1>Mission to Mars!</h1>
  <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Update in Realtime!</a></p>
</div>

    <div class="container">
		  <div class="row">
			  <div class="col-sm-4">
				  <h3 class="heading">NEWS</h3>
          <p>{{mars_app.news_title|safe}}<p>
          <p>{{mars_app.news_p}}</p>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <h3 class="heading">WEATHER</h3>
            <div>{{mars_app.mars_weather}}</div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <h3 class="heading">GENERAL INFO</h3>
              <div>{{mars_app.mars_facts|safe}}</div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <h3 class="heading">IMAGE OF MARS</h3>
                <img src= {{mars_app.feature_image_url|default('static/images/error.png', true)}} alt="Mars Picture">
            </div>

            </div>
            </div>
          </div>
        </div>

      </body>
      </html>